<em><b>{{section}} section</b></em>

<form method="post" class="post-form">{% csrf_token %}
    {{ multiChoiceAnswersFormSet.management_form }}
    <table>
        {% for form in multiChoiceAnswersFormSet %}
        <tr>
        	<td><b>{{ form.instance.question.text }}</b></td>
        	<td>
	        	{{ form.as_p }}
			<td>
        </tr>
        {% endfor %}        
    </table>
    
    <table>
        {% for form in openAnswersFormSet %}
        <tr>
        	<b>{{ form.instance.question.text }}</b>
        </tr>
        <tr>
	        	{{ form }}		
		</tr>    
        {% endfor %}
    </table>
	<button type="submit" class="save btn btn-default">Next</button>
</form>



