{% if feedbackProviders %}
	<p>
	!!requestFeedaback view.. work in progress!! You're looking at 360 Degree feedback survey {{pk}}.
	</p>
	<em>
	Users selected to provide feedbacks:
	</em>
    <ul>
    {% for feedbackProvider in feedbackProviders %}	
        <li><a href="{% url 'Degree360:feedbackProvider' feedbackProvider.survey.id feedbackProvider.email %}">{{ feedbackProvider.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No user has been selected to provide feedbacks for the 360 Degree Review.</p>
{% endif %}